/* Suppression de la scrollbar */
/* html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  #root, #__next {
    height: 100%;
  } */
  
  /* Conteneur principal centré */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Logo et slogan */
  .logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  
  /* Boîte de connexion */
  .loginBox {
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .loginBox h2 {
    margin-bottom: 20px;
  }
  
  .error {
    color: red;
    margin-bottom: 15px;
  }
  
  /* Boîte d'entrée de texte */
  .inputBox {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .inputBox label {
    display: block;
    margin-bottom: 5px;
  }
  
  .inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
  }
  
  /* Bouton de connexion */
  .loginButton {
    width: 100%;
    padding: 10px;
    background-color: #1e5b80;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .loginButton:hover {
    background-color: #174a6c;
  }
  
  /* Pied de page avec les liens */
  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .signup, .forgotPassword {
    color: #1e5b80;
    font-size: 0.9em;
  }
  
  /* Liens de réseaux sociaux */
  .socialMedia {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .socialMedia a {
    margin: 0 10px;
    color: #000;
    font-size: 1.5em;
  }
  